{require_min_otp_vsn, "22"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {zotonic_stdlib, "~> 1.31"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/zotonic/markupz">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
